<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusExpenseManager"
        tools:targetApi="31">
        <activity android:name=".MainActivity" />
        <activity android:name=".DemoActivity1" />
        <activity android:name=".DemoActivity2" />
        <activity android:name=".MenuAcivity"/>
        <activity android:name=".IntentSecondActivity"/>
        <activity android:name=".IntentFirstActivity"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".IntentThirdActivity"/>
        <activity android:name=".SharedPreferencesActivity"/>
        <activity android:name=".InternalStorageSecondActivity"/>
        <activity android:name=".RegisterAccountActivity"/>
        <activity android:name=".InternalStorageActivity"/>
        <activity
            android:name=".SignInAccountActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>